@charset "";
/* CSS Document */



body {
	background:url(img/bg-body.jpg) 0px 0px repeat;
	padding:0px;
	margin:0px;
	}

.header{
	width: 960px;
	position: relative;
	padding-top: 61px;

	}
	
.akk {
	font-size: 10px;
	color: #6C2A01;
	text-align:right;
	text-transform: uppercase;
    margin: 36px 12px 0 0;
	font-family: 'Anton', sans-serif;
	}

.link{
	color: #ffae19;
	text-decoration: none;
	
}

.link:hover {
	text-decoration: underline;
	color: #723002; 
}

.navigation{
	margin: 27px 10px 10px 1px;
	width: 100%;
	background-color:#723002;
	font-family: 'Anton', sans-serif;
	font-size: 100%;
	text-align: center;
    padding: 32px 0 32px 0;
    color: #ffffff;
    overflow: hidden;
	border: 10px;
	
}

.tablecont{
	width:100%;
	
}
.leftmenu{
	background:url(img/bg-body.jpg) 0px 0px repeat;
	text-align:center;
	font-family: 'Anton', sans-serif;
	width: 14%;
	
}

#maincontent{
	width: 1110px;
	height: auto;
    margin: 0px auto;
    background: rgb(255, 255, 255);
	}
#cont{
	width: 960px;
    margin: 0 auto;
    padding: 0;
	
}

#navbar {
        margin: 0;
        list-style-type: circle;
        width: 100px;
      }
	  

 #navbar a {
        background:url(img/bg-body.jpg) 0px 0px repeat;
		font-family: 'Anton', sans-serif;
        color: #000000;
        padding: 1px;
        text-decoration: none;
        font-weight: bold;
        display: block;
		text-align:left;
      }
