@charset "";
/* CSS Document */



body {
    background:url(img/bg-body.jpg) 0px 0px repeat;
    padding:0px;
    margin:0px;
}

.logo a {

    margin: 1px 1px 1px 10px;
}
.header{
    width: 100%;
    position: relative;
    padding-top: 61px;
}

.akk {
    font-size: 10px;
    color: #6C2A01;
    text-align:right;
    text-transform: uppercase;
    margin: 36px 12px 10px 0;
    font-family: 'Anton', sans-serif;
}

.link{
    color: #ffae19;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
    color: #723002;
}

#navigation{
    height: 60px;
}
.navigation{
    margin: 0px 10px 10px 1px;
    width: 100%;
    height: 60px;
    background-color:#723002;
    font-family: 'Anton', sans-serif;
    font-size: 100%;
    text-align: center;
    padding: 32px 0 32px 0;
    color: #ffffff;
    overflow: hidden;
    border-collapse: collapse; /* Отображать только одинарные линии */
}
.navigation td {
    border: 2px solid black; /* Граница вокруг ячеек */
}

.navigation td:hover{
    background: #ffae19;
}

#content{
    width: 1110px;
    height: auto;
    margin: 0px auto;
    background: #ffffff;
}



.menu{
    float: left;
    width: 20%;
    background: #ffffff;
}

.content{
    float: right;
    background: #ffffff;
    width: 80%;
    text-align: center;
}

#leftmenu{
    border: 1px solid gray; /*Стиль рамки*/
    border-bottom-width:0;
    width:94%;
    background-color:#F6F6F6;/*Фоновый цвет ячейки*/
    margin: 8px; /*Ширина отступа*/
}
* html #leftmenu {
    width:150px;
}
#leftmenu a{
    font:bold 16px Anton;/*Шрифт текста*/
    padding: 2px;/*Внутренний отступ текста ссылки от краев ячейки*/
    padding-left: 4px;/*Внутренний отступ текста ссылки от левого края ячейки*/
    display:block;
    width:100%;/*Ширина ячейки*/
    color: #000000;/*Цвет текста*/
    text-decoration:none;/*Подчеркивание у ссылок - нет*/
    border-bottom: 1px solid gray;
}
html>body #leftmenu a{
    width:auto;
}

#leftmenu a:hover{
    background-color: #ffae19;;/*Фоновый цвет ячейки при наведении курсора*/
    color: #000000; /*Цвет текста при наведении курсора*/
}

p.title {
    background-color: #ffe998;
    color: #000000;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.h01{
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: repeat-x #FFFFFF;
    border-radius: 10px;
    border: 1px solid #D0CFCC;
}

.content h1{
    font-family: Tahoma, Verdana;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
}

.block1{
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #D0CFCC;
    float: left;
    display: inline;
    width: 358px;
    height: 220px;
    margin: 35px;
    margin-top: 0px;
    padding: 5px;
    background:  #FFFFFF;
}

.block1 h2{
    text-align: center;

}

.block1 h2 a {
    color: #000066;
    font-family: Geneva, Arial;
    font-size: 15px;
    }

.read a:hover {
    background-color: #E0F5FF;
}
.block1 a:hover {
    color: #FF0000;
    text-decoration: none;
}
.read a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Arial;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: #EEEFE2;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.block1 td{

    text-align: center;
    
}

.block2{

    margin-top: 10px;
}